.navbar {
  font-family: 'Lato', serif;
  display: flex;
  justify-content: center;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
}

.navbar__heading {
  font-family: 'Josefin Sans', serif;
  font-weight: bold;
  color: #0d0e43;
  font-size: 2rem;
  margin: 1rem 0;
}

.navbar__link {
  text-decoration: none;
}

.navbar__menu {
  list-style: none;
  display: flex;
  gap: 0.813rem;
}

.navbar__menuItem > a {
  text-decoration: none;
  color: #0d0e43;
  cursor: pointer;
  font-size: 1.2rem;
}

.navbar__menuItem > a:hover {
  color: #f76c6c;
}
