.related {
  display: flex;
  justify-content: center;
}

.related__container {
  width: 73.125rem;
}

.related__header {
  margin-bottom: 2.5rem;
}

.related__products {
  display: flex;
  justify-content: space-between;
}
